<section>
  <h3 class="text-uppercase"> Nos Partenaires Officiels</h3>
  <div class="part d-flex">
    <img class="partImg" src="assets/images/Rang1-Panasonic.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-PG.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Bridgestone.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Samsung.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-CocaCola.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Deloitte.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Visa.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Toyota.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Omega.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang2-AirFrance.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Orange.png" alt="partenaire_logo">
    <img class="partImg" src="assets/images/Rang1-Sanofi.png" alt="partenaire_logo">
  </div>
</section>
