<div>
  <h1>Confidentialité et cookies</h1>
  <h2>  Politique de confidentialité de Site . </h2>
  <p> Pour recevoir des informations sur les Données personnelles,
    les objectifs et les parties avec qui elles sont partagées,
    veuillez contacter le Propriétaire.</p>
  <h2>Propriétaire et Responsable du traitement</h2>
  <h3>Types de Données collectées</h3>
  <p>Le propriétaire ne fournit pas de liste des types de Données personnelles collectées.
    Les détails complets sur chaque type de Données personnelles collectées sont fournis dans les parties consacrées à la présente politique de confidentialité
    ou par des textes d’explication spécifiques publiés avant la collecte des Données.
    Les Données personnelles peuvent être librement fournies par l’Utilisateur, ou,
    en cas de Données d’utilisation, collectées automatiquement lorsque vous utilisez cette Application.
    Sauf indication contraire, toutes les Données demandées par cette Application sont obligatoires
    et leur absence peut rendre impossible la fourniture des Services par cette Application.
    Dans le cas où cette Application précise que certaines Données ne sont pas obligatoires,
    Utilisateurs sont libres de ne pas les communiquer sans entraîner de conséquences sur la disponibilité ou le fonctionnement du Service.
    Les Utilisateurs qui auraient des doutes sur les Données personnelles obligatoires sont invités à contacter le Propriétaire.
    Toute utilisation des Cookies – ou d’autres outils de suivi – par cette Application ou par les propriétaires de services tiers utilisés par cette Application vise à fournir le Service demandé par l’Utilisateur,
    outre les autres finalités décrites dans le présent document et dans la Politique relative aux cookies, si elle est disponible.
    Les Utilisateurs sont responsables de toute Donnée personnelle de tiers obtenue, publiée ou communiquée par l’intermédiaire de cette Application
    et confirment qu’ils obtiennent le consentement du tiers pour fournir les Données au Propriétaire.</p>

</div>
