
<div  *ngIf="!isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Jeux Olympique Paris 2024 </span>
    <span class="spacer"> </span>
    <button mat-button routerLink="/home" routerLinkActive="active">Accueil</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Inscription</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Connection</button>
  </mat-toolbar>
</div>

<div  *ngIf="isCustomerLoggedIn">

  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Jeux Olympique Paris 2024</span>
    <span class="spacer"> </span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Les offres</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Mon panier</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Mes achats</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Mes favories</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
    <button mat-button routerLinkActive="active" (click)="logout()" >Déconnexion</button>
  </mat-toolbar>
</div>



<router-outlet></router-outlet>
