

.navbar{
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-top: 10px;
}

.navbar-brand{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;

}




.spacer{
  flex: 1;
}

button {
  color: white;
  text-transform: uppercase;
  margin-left: 8px;
}

button.active{
  font-weight: 600;
}



button {
  color: white;
  text-transform: uppercase;
  margin-left: 8px;
}

button.active{
  font-weight: 600;
}


.navBar_no_login{
  display: flex;
  align-items: flex-end;
}

mat-toolbar{
  display: flex;
  justify-items: flex-end;
}


mat-toolbar button{
  display: flex;
  flex-direction: column;
}

.myNavBar{
  display: flex;
  justify-items: center;
  flex-direction: row;
  justify-content: center;

}
.myNavBar button{
  justify-content: center;
  text-justify: auto;
  margin-top: 10px;


}


.logo{
  margin-left: auto;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.gNarBar img{
  margin-left: auto;

}


.gNarBar{
  width: 100%;
  position: relative;
  margin: 5px;
  height: 120px;
  justify-content: center;
  border-radius: 10px;
}




@media screen and (max-width:1920px){

  h3{
    margin-left: 800px;
    font-size: 35px;
  }

}

@media screen and (max-width:1200px){

  h3{
    margin-left: 800px;
    font-size: 35px;
  }

}

@media screen and (max-width:992px){
  .gNarBar img{
    height: 70px;
  }


  h3{
    margin-left: 800px;
    font-size: 35px;
  }
  .logo{
    margin-left: 256px;
    margin-right: 256px;

    width: 250px;
    height: 180px;

  }





  .myNavBar{
    display: flex;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 10px;

    padding-right: 10px ;
    margin-top: 118px;
    margin-right: 0px;
    background-color: #2c387e;
  }


}

@media screen and (max-width:768px){

  h3{
    margin-left: 800px;
    font-size: 35px;
  }
  .logo{
    margin-left: 180px;
    width: 230px;
    height: 220px;
    border-radius: 10px;
  }

  .gNarBar img{
    height: 50px;

  }


  div button {
    flex-direction: row;
  }
  mat-toolbar button {
    flex-direction: column;
  }
  .myNavBar{
    display: flex;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
  }


  .gNarBar{
    width: 100%;
    position: relative;
    margin: 5px;
    height: 10px;
    border-radius: 10px;
    font-size: 10px;

  }


  .gNarBar{
    width: 100%;
    position: relative;
    margin: 5px;
    height: 80px;
    border-radius: 10px;
    justify-content: center;
  }

  .logoltr{
    font-size: 6px;
    padding-left: 20px;

  }
  .gNarBar span{
    font-size: 10px;
    margin-left: 50px;
  }


}

@media screen and (max-width:450px){


  .gNarBar{
    padding: 10px;
  }
  .myNavBar{
    display: flex;
    justify-items: center;
    flex-direction: column;

  }

  .gNarBar span{
    font-size: 1px;
    margin-left: 50px;
  }
}
