<div class="center-container" *ngIf="ticket">
  <div class="product-card">
    <div class="product-image">
      <img [src]="ticket.processedImg" alt="{{ticket.name}} Image">
    </div>

    <div class="product-details">
      <h2>{{ticket.name}}</h2>
      <p class="description">{{ticket.description}}</p>
      <p class="price">Price: ${{ticket.price}}</p>
      <p class="category">Category: {{ticket.categoryName}}
        <mat-icon class="heart-icon" (click)="addToWishlist()"
                  style="cursor: pointer; margin-top: 10px;">favorite_border</mat-icon>
      </p>
    </div>
  </div>
</div>

<h1 class="section-heading" *ngIf="reviews.length>0">Customer Reviews </h1>

<div *ngIf="reviews" class="review-list">
  <div class="center-container">
    <div *ngFor="let review of reviews" class="review-card">
      <div class="review-image">
        <img [src]="review.processedImg" *ngIf="review.processedImg" alt="{{review.description}} Image"
             class="small-image">
      </div>

      <div class="review-details">
        <h2>{{review.description}}</h2>
        <div class="details-row">
          <p class="rating">Fréquence: {{review.rating}}</p>
          <p class="username">Nom utilisateur: {{review.username}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="section-heading" *ngIf="FAQS.length>0"> Questions Frequentes </h1>
<div *ngIf="FAQS" class="faq-list">
  <div class="center-container">
    <div *ngFor="let faq of FAQS" class="faq-card">
      <div class="faq-details">
        <p class="question">Question:</p>
        <p class="question-text">{{faq.question}}</p>
        <p class="answer">Repondre:</p>
        <p class="answer-text">{{faq.answer}}</p>
      </div>
    </div>
  </div>
</div>

