<div class="content">
  <h1>Conditions Générales de Vente</h1>

  <div>
  <h2>Termes et conditions générales :</h2>
  <p>Bienvenue sur de vente de billet des Jeux Olympiques de Paris 2024!
    Les présentes conditions générales décrivent les règles et règlements relatifs à l'utilisation du site web de vente de billet électronique des jeux Olympiques de Paris 2024  situé à l'adresse https://billet-jo-paris2024.netlify.app/.
    En accédant à ce site web, nous supposons que vous acceptez ces conditions générales. Ne continuez pas à utiliser https://billet-jo-paris2024.netlify.app si vous n'acceptez pas de prendre toutes les conditions générales énoncées sur cette page.
  </p>
  </div>

  <div class="section">
    <h2>Article 1 - Champ d'application</h2>
    <p>Les présentes conditions générales de vente s'appliquent à toutes les ventes de produits effectuées sur notre site.</p>
  </div>

  <div class="section">
    <h2>Article 2 - Prix</h2>
    <p>Les prix des produits sont indiqués en euros toutes taxes comprises (TTC).</p>
  </div>

  <div class="section">
    <h2>Article 3 - Commande</h2>
    <p>La commande est confirmée dès réception du paiement.</p>
  </div>

  <!-- Ajoutez ici d'autres sections selon vos besoins -->

</div>
