
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.search-form.search-input{
  width: 300px;
  margin-right: 15px;
}

.search-form.search-input input{
  padding-right: 40px;
}

.search-form search-input button{
  position: absolute;
  right: 8px;
  top: 50px;
  transform: translateY(-50%);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 20px;

}

.product-list .product-card{
  width: 300px ; /*calc(19.33% - 10px);*/
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.product-list .product-card .product-image {
  height: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.product-list .product-card .product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list .product-card .product-details{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #108ee9;
  margin-bottom: 10px;
}

.product-list .product-card .product-details .product-name{
  font-size: 20px;
  font-weight: bold;
  color: #108ee9;
  margin-bottom: 10px;
}

.product-list .product-card .product-details .product-description{
  margin-bottom: 10px;
}
.product-list .product-card .product-details .product-info{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.product-list .product-card .product-details .product-info .info-row{
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

}

.product-list .product-card .product-details .product-info .info-row .info-label{
  font-weight: 10;
  margin-right: 5px;
}
.product-list .product-card .product-details .product-info .info-row .info-value {
  font-weight: 10;
  margin-right: 5px;
}
.product-list .product-card .product-details .product-info .actions{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.product-list .product-card  {
  margin-right: 10px;

}
.empty-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.empty-card span {
  font-size: 18px;
  color: #616161;
  margin-top: 10px;
}

.carouselimage{
  justify-content: center;
  margin: 10px 100px 20px 100px;
  width: auto;
}
.homHeader{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}

.logo {
  justify-content: center;
  margin: auto;
  border-radius: 10px;



}

.show_comptetitions{
  margin: 10px;
  width: 100%;
  display: flex;
  flex-flow: wrap;

}
.spacer{
  flex: 1;
}

.part{
  width: 100%;
  display: flex;
  flex: 6;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservebtn{
  width: 10vh;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;


}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 30px;
  font-size: 10px;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 20px;
  min-height:100%

}





.product-card  {
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
}


@media screen and (max-width: 768px){
  .product-image{
    height: 200px ;
    width: 100%;
  }
  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }


}


@media screen and (min-width:1920px){

  h3{
    font-size: 35px;
    align-items: center;
    margin-left: 580px;

  }

  .logo{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 100vh;

  }

  .lesOffres button{

    margin-left: 100vh;
    width: 30%;
    height: 40px;
    font-size: 24px;
    justify-content: center;
  }

  .product-card{

    justify-items: center;

  }
  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (max-width:1900px) {


  h3 {
    margin-left: 500px;
    font-size: 35px;
  }

  .logo {
    margin-left: 600px;
  }

  .lesOffres button{

    margin-left: 600px;
    width: 300px;
    height: 40px;
    font-size: 24px;
  }



  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .product-image{
    height: 200px ;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .homHeader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  h3 {
    margin-left: 800px;
    font-size: 35px;
  }

  .logo {
    width: 20vh;

  }


  .lesOffres button{

    margin-left: 50vh;
  }

  /*.reservebtn{
    width: 10vh;
    justify-items: center;
    margin-left: 14px;
    margin-top: 25px;

}*/

  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .product-image{
    height: 200px ;
    width: 100%;
  }

}

@media screen and (max-width: 992px) {

  .product-image{
    height: 200px ;
    width: 100%;
  }

  h3 {
    margin-left: 800px;
    font-size: 35px;
  }

  .logo {
    margin-left: 256px;
    margin-right: 256px;
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;

  }

  .imgCarrousel {
    width: 1000px;
    height: 550px;
    margin-left: 20px;
  }

  .product-list .product-card .product-details .product-name{
    font-size: 14px;
    font-weight: bold;
    color: #108ee9;
    margin-bottom: 10px;
  }

  .lesOffres button{

    margin-left: 35vh;
  }

  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 778px) {


  h3 {
    margin-left: 800px;
    font-size: 35px;
  }

  .logo {
    margin-left: 290px;
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }



  .imgCarrousel {
    width: 500px;
    height: 350px;
  }

  .homHeader {
    margin: auto;
    height: 800px;
  }
  .lesOffres button{
    margin-left: 22vh;
  }

  .product-list{
    display: flex;
    flex-direction: column;

  }

  .product-card{
    margin-left: 70px;
    width: 100%;
  }
  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }


}


@media screen and (max-width: 500px) {


  h3 {
    margin-left: 800px;
    font-size: 35px;
  }

  .logo {
    margin-left: 290px;
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }



  .imgCarrousel {
    width: 500px;
    height: 350px;
  }

  .homHeader {
    margin: auto;
    height: 800px;
  }

  .lesOffres button{
    margin-left: 12vh;
    font-size: 15px;
    justify-content: center;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px;

  }

  .product-image{
    height: 200px ;
    width: 100%;
  }

  .reservebtn{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  .product-list .product-card  {
    margin-right: auto;
    margin-left: auto;

  }

}

@media screen and (orientation: portrait) {



  h3 {

    padding: 10px;


  }
}


